<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="hrun4j" parallel="false">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="hrun4j">
        <classes>
            <class name="vip.lematech.hrun4j.testcases.scene.SceneTest">
            </class>
            <class name="vip.lematech.hrun4j.testcases.demo.DemoTest">
            </class>
            <class name="vip.lematech.hrun4j.testcases.demojson.DemoJsonTest">
            </class>
        </classes>
    </test>
</suite>
