package $pkgName;

import vip.lematech.hrun4j.core.engine.TestCaseExecutorEngine;
import vip.lematech.hrun4j.entity.testcase.TestCase;
import vip.lematech.hrun4j.base.TestBase;
import org.testng.annotations.Test;

public class $className extends TestBase {
    #foreach($methodName in $methodList)
        @Test(dataProvider = "dataProvider")
        public void $methodName(TestCase testCase){
            TestCaseExecutorEngine.getInstance().execute(testCase);
        }
     #end
}

