package $pkgName;

import TestCaseExecutorEngine;
import TestCase;
import TestBase;
import org.testng.annotations.Test;

public class $className extends TestBase {
    #foreach($methodName in $methodList)
        @Test(dataProvider = "dataProvider")
        public void $methodName(TestCase testCase){
            TestCaseExecutorEngine.getInstance().execute(testCase);
        }
     #end
}

