package $pkgName;

import io.lematech.httprunner4j.TestCaseExecutorEngine;
import io.lematech.httprunner4j.base.TestBase;
import io.lematech.httprunner4j.entity.testcase.TestCase;
import org.testng.annotations.Test;

public class $className extends TestBase {
    #foreach($methodName in $methodList)
    @Test(dataProvider = "dataProvider")
    public void $methodName(TestCase testCase){
        TestCaseExecutorEngine.getInstance().execute(testCase);
    }
    #end
}

