#!/bin/java bsh.Interpreter

1>2;
foo = "Foo";
four = (2 + 2)*2/2;
print( foo + " = " + four );
for (i=0; i<5; i++)
    print(i);
int multiply(a, b)
{
    return a*b;
}
result = multiply(12,14);
print(result);//打印出168

//import RequestEntity;
//print($aaa);

print("请求参数："+$REQUEST);
print("响应参数："+$RESPONSE);
print("上下文参数："+$ENV);
