package ${application.packageName}.testcases.joke;

import ${application.packageName}.HttpRunner4j;
import TestCaseExecutorEngine;
import TestCase;
import org.testng.annotations.Test;

/**
* @author lematech@foxmail.com
* @version 1.0.0
* @className JokeTest
*/
public class JokeTest extends HttpRunner4j
{
/**
     *
     * @param testCase
     */
    @Test(dataProvider = "dataProvider")
    public void lookTheJokeFromJokeList(TestCase testCase) {
        TestCaseExecutorEngine.getInstance().execute(testCase);
    }

}
