<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="httprunner4j" parallel="false">

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="httprunner4j">
        <classes>
            <class name="DemoTest">
                <methods>
                    <exclude name="na">

                    </exclude>
                </methods>
            </class>
            <class name="DemoJsonTest">
            </class>
        </classes>
    </test>
</suite>
