package ${application.packageName};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class ${application.className} {

public static void main(String[] args) {
SpringApplication.run(${application.className}.class, args);
}

}