config:
name: 测试用例集配置
base_url: https://api.apiopen.top
testcases:
- name: 通过笑话列表查看某一笑话详情
testcase: testcases/joke/lookTheJokeFromJokeList.yml
parameters:
page: [1,2,3,4,5]
- name: 获取Mock接详细参数信息
testcase: testcases/rap2/rap2Mock.yml