config:
name: 通过笑话列表查看某一笑话详情
base_url: https://api.apiopen.top
variables:
page: "${1+1}"
count: "${2+2}"
type: video
teststeps:
- name: 获取笑话列表
api: apis/getJoke.yml
validate:
- equalTo: [status_code,200]
- equalTo: [body.code,200]
- equalTo: [body.message,"成功!"]
extract:
sid: body.result[0].sid
output:
- variables
- extract
setup_hooks:
- $\{add\(1,2\)\}
- $\{shFunction\(page,count,type\)\}
teardown_hooks:
$\{tdFunction\("This is a joke!"\)\}
- name: 查看指定笑话内容
api: apis/getSingleJoke.vm
validate:
- equalTo: [status_code,200]
- equalTo: [body.code,200]
- equalTo: [body.message,"成功!"]
- equalTo: [$.headers.Content-Type, "application/json;charset=UTF-8"]