config:
  name: 测试用例集配置
  base_url: https://api.apiopen.top
testcases:
- name: Postman Echo GET Request
  testcase: testcases/postman/get/getScene.yml
  parameters:
   page: [1,2,3,4,5]
- name: Postman Echo postFormData And postRawText Request
  testcase: testcases/postman/post/postScene.yml