package ${application.packageName}.testcases.rap2;

import ${application.packageName}.HttpRunner4j;
import TestCaseExecutorEngine;
import TestCase;
import org.testng.annotations.Test;

/**
* @author lematech@foxmail.com
* @version 1.0.0
*/
public class MockTest extends HttpRunner4j {
    /**
    *
    * @param testCase
    */
    @Test(dataProvider = "dataProvider")
    public void rap2Mock(TestCase testCase) {
        TestCaseExecutorEngine.getInstance().execute(testCase);
    }
}
